.container {
  --container-width: 100ch;
  --container-gutter: 2rem;
  --container-padding: 1rem;

  // make a max size of 100ch and center it w/ 1rem padding on both sides
  width: min(var(--container-width), 100% - var(--container-gutter));
  margin-inline: auto;
  padding-block: var(--container-padding);
}